In [16]:
with open("Bar Sizes.csv",'r')as f:
    txt = f.read()
bars = txt.splitlines()
Bars = []
for bar in bars:
    if "#18J" in bar:
        break
    val = bar.split(",")
    Bars.append([val[0],float(val[4].split("=")[0].strip()),float(val[6])])
Bars

[['#2', 0.25, 0.05],
 ['#3', 0.375, 0.11],
 ['#4', 0.5, 0.2],
 ['#5', 0.625, 0.31],
 ['#6', 0.75, 0.44],
 ['#7', 0.875, 0.6],
 ['#8', 1.0, 0.79],
 ['#9', 1.128, 1.0],
 ['#10', 1.27, 1.27],
 ['#11', 1.41, 1.56],
 ['#14', 1.693, 2.25],
 ['#18', 2.257, 4.0]]

In [26]:
txt = """<table>
    <tr><th>Bar No.</th><th>Diameter (in)</th><th>Area (in$^2$)</th></tr>\n"""
line = ('    <tr><td style="text-align: right;">no</td>'
        '<td style="text-align: left;">dia</td>'
        '<td style="text-align: left;">A</td></tr>\n')
for bar in Bars:
    line_txt = line.replace("no",bar[0])
    dia = bar[1]
    dia_8 = round(dia*800)/100
    if dia_8==round(dia_8):
        dia_8=int(dia_8)
#     else:
    Dia = '{:0.3f} = {}/8"'.format(dia,dia_8)
    line_txt = line_txt.replace("dia",Dia)
    line_txt = line_txt.replace("A","{}".format(bar[2]).rjust(4))
    txt += line_txt
txt+="</table>"
print(txt)

<table>
    <tr><th>Bar No.</th><th>Diameter (in)</th><th>Area (in$^2$)</th></tr>
    <tr><td style="text-align: right;">#2</td><td style="text-align: left;">0.250 = 2/8"</td><td style="text-align: left;">0.05</td></tr>
    <tr><td style="text-align: right;">#3</td><td style="text-align: left;">0.375 = 3/8"</td><td style="text-align: left;">0.11</td></tr>
    <tr><td style="text-align: right;">#4</td><td style="text-align: left;">0.500 = 4/8"</td><td style="text-align: left;"> 0.2</td></tr>
    <tr><td style="text-align: right;">#5</td><td style="text-align: left;">0.625 = 5/8"</td><td style="text-align: left;">0.31</td></tr>
    <tr><td style="text-align: right;">#6</td><td style="text-align: left;">0.750 = 6/8"</td><td style="text-align: left;">0.44</td></tr>
    <tr><td style="text-align: right;">#7</td><td style="text-align: left;">0.875 = 7/8"</td><td style="text-align: left;"> 0.6</td></tr>
    <tr><td style="text-align: right;">#8</td><td style="text-align: left;">1.000 = 8/8"</td><td style="text-align: left;">0.79</td></tr>
    <tr><td style="text-align: right;">#9</td><td style="text-align: left;">1.128 = 9.02/8"</td><td style="text-align: left;"> 1.0</td></tr>
    <tr><td style="text-align: right;">#10</td><td style="text-align: left;">1.270 = 10.16/8"</td><td style="text-align: left;">1.27</td></tr>
    <tr><td style="text-align: right;">#11</td><td style="text-align: left;">1.410 = 11.28/8"</td><td style="text-align: left;">1.56</td></tr>
    <tr><td style="text-align: right;">#14</td><td style="text-align: left;">1.693 = 13.54/8"</td><td style="text-align: left;">2.25</td></tr>
    <tr><td style="text-align: right;">#18</td><td style="text-align: left;">2.257 = 18.06/8"</td><td style="text-align: left;"> 4.0</td></tr>
</table>

In [21]:
a = "123"
a.rjust(4)

' 123'